In [14]:
import numpy as np
import pandas as pd

In [9]:
import sys
print(f"Python version: {sys.version}")

Python version: 3.9.13 (main, Aug 25 2022, 18:24:45)
[Clang 12.0.0 ]

In [ ]:
#Importing data
contract_info = pd.read_csv("../../Data/CPSC_Contract_Info_2015_01.csv", encoding='latin1')
contract_info.head()


enrollment_info = pd.read_csv("../../Data/CPSC_Enrollment_Info_2015_01.csv")
enrollment_info.head()

service_area = pd.read_csv("../../Data/MA_Cnty_SA_2015_01.csv")
service_area.head()

/var/folders/2q/wzjp_2kd355b8clhzqwmytb40000gn/T/ipykernel_23050/4136244026.py:9: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  service_area = pd.read_csv("../../Data/MA_Cnty_SA_2015_01.csv")

,Contract ID,Organization Name,Organization Type,Plan Type,Partial,EGHP,SSA,FIPS,County,State,Notes
0,90091,UNITED MINE WORKERS OF AMERICA HLTH & RETIREMENT,HCPP - 1833 Cost,HCPP - 1833 Cost,NaN,NaN,NaN,NaN,NaN,NaN,"Covers the entire US, all States and Counties"
1,H0022,"BUCKEYE COMMUNITY HEALTH PLAN, INC.",Demo,Medicare-Medicaid Plan HMO/HMOPOS,NaN,NaN,36110.0,39023.0,Clark,OH,NaN
2,H0022,"BUCKEYE COMMUNITY HEALTH PLAN, INC.",Demo,Medicare-Medicaid Plan HMO/HMOPOS,NaN,NaN,36170.0,39035.0,Cuyahoga,OH,NaN
3,H0022,"BUCKEYE COMMUNITY HEALTH PLAN, INC.",Demo,Medicare-Medicaid Plan HMO/HMOPOS,NaN,NaN,36260.0,39051.0,Fulton,OH,NaN
4,H0022,"BUCKEYE COMMUNITY HEALTH PLAN, INC.",Demo,Medicare-Medicaid Plan HMO/HMOPOS,NaN,NaN,36280.0,39055.0,Geauga,OH,NaN